@import "styles.scss";

.header__bg-pattern {
    position: absolute;
    top: -515px;
    right: -500px;
}

.main {
    position: relative;
    margin-bottom: -255px;
    z-index: 2;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        margin-bottom: 104px;
    }

    .content__information {
        max-width: 540px;
        height: fit-content;
        margin-bottom: 70px;
    }

    .content__title {
        @include h1;
        color: $dark_gray;
        margin-bottom: 24px;
    }

    .content__description {
        @include body1;
        color: $gray;
        margin-bottom: 32px;
    }

    .content__button {
        box-shadow: 0px 25px 25px -10px #3F5BC23F;
        display: inline-block;
    }

    .tariff__cards {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        position: relative;
        z-index: 1;
    }

    .tariff__card {
        max-width: 350px;
        width: 100%;
        border-radius: 13px;
        padding: 40px 65px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .white-card {
        background-color: #FFFFFF;
        color: $gray;

        .tariff__name, .tariff__price, .tariff__users {
            color: $dark_gray;
        }
    }

    .blue-card {
        background-color: $blue;
        color: #FFFFFF;
    }

    .tariff__name {
        @include h2;
        margin-bottom: 40px;
    }

    .tariff__price {
        @include h1;
        margin-bottom: 8px;
    }

    .tariff__users, .tariff__features {
        @include body2;
    }

    .tariff__users {
        margin-bottom: 56px;
    }

    .tariff__features {
        text-align: center;
        margin-bottom: 32px;
        line-height: 38px;
    }

    .tariff__button {
        margin: auto 0 0 0;
    }
}

.footer {
    padding-bottom: 91px;
    overflow-y: hidden;
    position: relative;
    background-color: $black;
    padding-top: 335px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: 1;
    } 

    .footer__bg-pattern {
        position: absolute;
        right: -35px;
        z-index: -1;
    }
}