/*COLORS*/
/*TYPOGRAPHY*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.header__bg-pattern {
  position: absolute;
  top: -515px;
  right: -500px;
}

.main {
  position: relative;
  margin-bottom: -255px;
  z-index: 2;
}
.main .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-bottom: 104px;
}
.main .content__information {
  max-width: 540px;
  height: fit-content;
  margin-bottom: 70px;
}
.main .content__title {
  font-family: Kumbh Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  color: #333950;
  margin-bottom: 24px;
}
.main .content__description {
  font-family: Kumbh Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #747B95;
  margin-bottom: 32px;
}
.main .content__button {
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.2470588235);
  display: inline-block;
}
.main .tariff__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  position: relative;
  z-index: 1;
}
.main .tariff__card {
  max-width: 350px;
  width: 100%;
  border-radius: 13px;
  padding: 40px 65px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .white-card {
  background-color: #FFFFFF;
  color: #747B95;
}
.main .white-card .tariff__name, .main .white-card .tariff__price, .main .white-card .tariff__users {
  color: #333950;
}
.main .blue-card {
  background-color: #5175FF;
  color: #FFFFFF;
}
.main .tariff__name {
  font-family: Kumbh Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 40px;
}
.main .tariff__price {
  font-family: Kumbh Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
}
.main .tariff__users, .main .tariff__features {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.main .tariff__users {
  margin-bottom: 56px;
}
.main .tariff__features {
  text-align: center;
  margin-bottom: 32px;
  line-height: 38px;
}
.main .tariff__button {
  margin: auto 0 0 0;
}

.footer {
  padding-bottom: 91px;
  overflow-y: hidden;
  position: relative;
  background-color: #25293A;
  padding-top: 335px;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.footer .footer__bg-pattern {
  position: absolute;
  right: -35px;
  z-index: -1;
}